.git
.idea
.postgres
.pytest_cache
.venv
.vscode
backup
runtime-logs
backend/.pytest_cache
backend/__pycache__
backend/uploads
backend/storage/cabinet_files
frontend/node_modules
frontend/dist
**/__pycache__
**/*.log
**/*.pyc
**/*.pyo
**/*.pyd
**/*.tsbuildinfo
